<div class="page-container">
    <div class="login-container">
        <form class="form-controller" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <fieldset class="form-fieldset">
                <legend class="form-header">Login</legend>
                <app-form-field-wrapper *ngFor="let item of loginFields" [formItem]="item" [formGroup]="loginForm">
                    <input [type]="item.name" [id]="item.name" [placeholder]="item.hint" [formControlName]="item.name"
                        [required]="!item.optional">
                </app-form-field-wrapper>
            </fieldset>
            <div class="form-footer">
                <button class="btn link" routerLink="/forgot-password" type="button">Forgot password?</button>
                <button class="btn" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
    </div>
</div>