@import '_variables';
@import '_mixins';

input[type=color], 
input[type=date], 
input[type=datetime-local], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
input[type=week], 
select, 
textarea {
    appearance: none;
    background-color: $bg-color-primary;
    border-radius: $border-radius-control;
    border: $border-width-input solid;
    color: $color-primary;
    cursor: pointer;
    line-height: $input-lineheight;
    padding: .4375rem 1rem;
    resize: none;
    transition: color 200ms,background-color 500ms,border-color 500ms;
    width: 100%;

    &:hover {
        color: $color-primary;
        cursor: auto;
    }

    &::placeholder {
        color: rgba($color-primary, .4);
    }
}

input[type=search] {
    background: url('/assets/images/ic-search.svg') left $base-spacing center no-repeat;
    background-color: $bg-color-primary;
    flex: 0 0 auto;
    padding: 0 3em;
    line-height: 2.5em;
}