@import '_variables';

:host {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.search-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 20%;
}