<div class="item" *ngIf="item.creationTime < currentTime">
    <div class="item-left">
        <div class="item-header">
            <h2 class="heading">Video course: {{item.title}}</h2>
            <div class="item-header-time">
                <span class="course-duration">{{item.duration}}</span>
                <span class="course-time">{{item.courseTime}}</span>
            </div>
        </div>
        <div class="description">{{item.description}}</div>
    </div>
    <div class="item-right">
        <button (click)="editCourse($event)" class="btn btn-edit">Edit</button>
        <button (click)="deleteCourse($event)" class="btn btn-delete">Delete</button>
    </div>
</div>