@import './palette';

$font-base-size: 11px;
$font-face-icons: 'Task Icons';

$max-page-width: 1240px;
$min-page-width: 1080px;

$input-lineheight: 1.75rem;
$btn-lineheight: 0.85rem;

// borders
$border-radius-control: 3px;
$border-width-button: 0px;
$border-width-input: 1px;

//hovers
$hover-alpha: .6;


// spacings
$base-spacing: 1rem;
$small-spacing: 0.5rem;
$big-spacing: 2rem;
$huge-spacing: 3rem;

// outline
$focus-outline: $color-focus-outline auto 5px;

$modal-min-width: 360px;
$modal-max-width: 700px;