<div class="pageContainer">
    <div class="loginContainer">
        <div class="formControllers">
            <div class="formHeader">
                <h2>Login</h2>
            </div>
            <div class="formBody">
                <span class="form-element-label required">Login</span>
                <input type="text" placeholder="Enter user name">
                <span class="form-element-label required">Password</span>
                <input type="text" placeholder="Enter password">
            </div>
            <div class="form-footer">
                <a href="/forgot-password">Forgot password?</a>
                <button class="btn">Login</button>
            </div>
        </div>
    </div>
</div>