<div class="pageContainer">
    <div class="loginContainer">
        <div class="formControllers">
            <div class="formHeader">
                <h2>Login</h2>
            </div>
            <div class="formBody">
                <span class="formElementLabel required">E-mail:</span>
                <input type="text" placeholder="Enter user name">
                <span class="formElementLabel required">Password:</span>
                <input type="text" placeholder="Enter password">
            </div>
            <div class="formFooter">
                <button class="btn link" routerLink="/forgot-password">Forgot password?</button>
                <button class="btn">Login</button>
            </div>
        </div>
    </div>
</div>