<app-search-courses (searchItem)="filterItem($event)"></app-search-courses>

<div class="course-list-header">
    <div class="action-status">{{actionStatus}}</div>
    <button (click)="addCourse()" class="btn btn-add-course"> + Add course</button>
</div>

<div *ngIf="items?.length > 0" class="course-items">
    <app-course-item *ngFor="let item of items | orderBy:'creationTime':'asc'" [item]="item"
        (deleteItem)="delete($event)" (editItem)="update($event)">
    </app-course-item>
</div>
<div *ngIf="items?.length == 0" class="course-items action-status ">
    <span>No courses found. Please feel free to add courses.</span>
</div>

<div class="load-more">
    <button class="btn btn-load-more">Load more</button>
</div>