
$color-black: #141413;
$color-red: red;
$color-white: #ffffff;
$color-green: #9bc837;
$color-green-dark: #3a4d12;
$color-blue: #30b6dd;
$color-orange: #f5e1b5;


$color-primary: $color-black;
$color-primary-btn: $color-white;
$color-primary-colored: $color-red;
$color-top-rated: $color-orange;
$color-disabled: rgb(150, 149, 149);

$color-focus-outline: rgb(59, 153, 252);

$bg-color-primary: $color-white;