@import '_variables';

.bread-crumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-white;
    text-align: left;
    padding: 0.5em;
    padding-left: 3em;
    font-weight: bold;
    height: 5em;
}