@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import './variables';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: $font-base-size;
    background-color: #f2f3f7;
    color: #525462;
    font-family: 'Open Sans', sans-serif;

    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

body {
    border: none;
    margin: 0;
    outline: none;
    display: flex;
}

.pageContainer {
    margin: 0 auto;
    max-width: $max-page-width;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    min-width: $min-page-width;
}

@import './partials/buttons.scss';
@import './partials/inputs.scss';