@import '_variables';
@import '_mixins';

.form-controller {
    line-height: normal;
    display: flex;
    flex-direction: column;
    min-width: $modal-min-width;
}

.form-controller > .form-header {
    color: $color-primary;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-controller > .form-body {
    line-height: 2em;
    display: flex;
    flex-direction: column;
}

.form-controller > .form-footer {
    line-height: 2em;
    display: flex;
    flex-direction: row;
    padding: 2em 0;
}

.form-body > .form-element-row {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.form-body .form-element-label {
    font-weight: bold;
}

.required::after {
    content: " *";
    color: $color-red;
}