@import '_variables';

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3em 0;
    width: 100%;
}

.course-list-header {
    display: inherit;
    align-self: flex-end;
}
.btn-add-course {
    background-color: $color-blue;
    flex: 0 0 9em;
}

.action-status {
    font-weight: 600;
    font-size: 2em;
    white-space: nowrap;
}
.load-more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-load-more {
    background-color: #ffffff;
    text-transform: uppercase;
    color: $color-primary;
    width: 100%;
}

.course-items {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}